@media (max-width: 960px) {
  .tabs .container,
  .tabs-content .container,
  .footer {
    max-width: 95%;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .tab-content svg {
    height: 15vw;
  }

  #tab-content-1.active {
    display: block;
    text-align: center;
  }

  #tab-content-2.active .tab-content-top {
    display: block;
    text-align: center;
  }

  #tab-content-2.active .tab-content-bottom{
    display: block;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .showcase-content h1 {
    font-size: 4rem;
  }

  .showcase-content p {
    font-size: 1.3rem;
  }

  .tab-content svg {
    height: 10vw;
  }

  .tabs {
    padding-top: 0;
  }

  .tab-content p {
    display: none;
    /* font-size: .8rem; */
  }

  .button-large {
    font-size: 1.5rem;
  }

  .button-md {
    font-size: 1rem;
  }

  .text-md {
    font-size: 1rem;
  }

  .alt-header {
    display: table-row;
  }

  .tab-content-table thead tr th:first-of-type,
  .tab-content-table tbody tr td:first-of-type {
    display: none;
  }

  #tab-content-3 .tab-content-table tbody td {
    padding: 0.2rem 1rem;
  }

  #tab-content-3 .tab-content-table tr:not(:first-child):nth-child(4n) {
    background: none;
  }

  .tab-content-table tbody tr td:nth-child(3) {
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
  }

  .footer-links li {
    width: 33%;
  }
}
